#c-white {
	color: white;
}

.c-red {
	color: red;
}

.c-style {
	display: none;
}

#leo-img {
	height: 7rem; 
	width: 30rem; 
	margin: auto;
}

#preloader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 99999;
	background: url('images/preloader.gif') center no-repeat #fff;
}